{% extends "base.html" %}
{% load tz %}

{% block main %}
<div class="container">
    <h1>My Tasks</h1>
    {% if lists %}
    <table>
        <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
            <th>Edit</th>
        </thead>
        <tbody>
            {% for task in lists %}
            <tr>
                <td class="tasks">{{ task.name }} </td>
                <td>{{ task.start_date }}</td>
                {% if task.due_date < now %} <td class="danger">
                    {% else %}
                    <td>
                        {% endif %}{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                    <td><a class="link-light" href="{% url 'mytasks:edit_tasks' task.id %}"> Edit </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have no tasks</p>
    {% endif %}
    {% endblock %}
