{% extends "base.html" %}

{% block main %}
<div>
    <h1>My Projects</h1>
    {% if lists %}
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Tasks</th>
        </thead>
        <tbody>
            {% for project in lists %}
            <tr>
                <td><a href="{% url 'show_project' id=project.id %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects.</p>
    {% endif %}
</div>
{% endblock %}
